# -*- coding: utf-8 -*-

"""
rootcollection

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from rootcollection.api_helper import APIHelper
from rootcollection.configuration import Server
from rootcollection.controllers.base_controller import BaseController


class UploadController(BaseController):

    """A Controller to access Endpoints in the rootcollection API."""
    def __init__(self, config, auth_managers):
        super(UploadController, self).__init__(config, auth_managers)

    def upload(self):
        """Does a POST request to /signup/locataire.

        TODO: type endpoint description here.

        Returns:
            void: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _url_path = '/signup/locataire'
        _query_builder = self.config.get_base_uri()
        _query_builder += _url_path
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare and execute request
        _request = self.config.http_client.post(_query_url)
        # Apply authentication scheme on request
        self.apply_auth_schemes(_request, 'global')

        _response = self.execute_request(_request)
        self.validate_response(_response)
